Package: com.jzksnsjswkw.forwardnotifier-rootless
Name: ForwardNotifier-rootless
Depends: preferenceloader
Version: 0.0.2
Architecture: iphoneos-arm
Description: Forward Notifications to your PC!
Maintainer: jzksnsjswkw
Author: Greg0109
Section: Tweaks
